{% if blabs %}
<nav aria-label="Page navigation example">
	<ul class="pagination">
	  <li class="page-item">
		<a class="page-link" href="{{ route_name }}/{{ pages.begin }}">
		  <span aria-hidden="true">&laquo;</span>
		  <span class="sr-only">First</span>
		</a>
	  </li>
	  <li class="page-item">
		<a class="page-link" href="{{ route_name }}/{{ pages.prev }}">
		  <span aria-hidden="true">&lt;</span>
		  <span class="sr-only">Previous</span>
		</a>
	  </li>
	  <li class="page-item">
		<a class="page-link" href="{{ route_name }}/{{ pages.next }}">
		  <span class="sr-only">Next</span>
		  <span aria-hidden="true">&gt;</span>
		</a>
	  </li>
	  <li class="page-item">
		<a class="page-link" href="{{ route_name }}/{{ pages.end }}">
		  <span class="sr-only">Last</span>
		  <span aria-hidden="true">&raquo;</span>
		</a>
	  </li>
	</ul>
  </nav>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">ASL Blabr'r</th>
			<th scope="col">Interpreted Script</th>
			<th scope="col">Likes</th>
		</tr>
	</thead>
	
	<tbody>
		{% for blab in blabs %}<tr>
			<th scope="row" class="col-2">
				<a href="/user/retrieve/{{blab.user.username}}" alt="@{{blab.user.username}}'s Profile'">
					@{{ blab.user.username }}
				</a>
			</th>
			<td><p class="text-uppercase">{{blab.content}}</p></td>
			<td class="col-2">
				{{blab.likes}}&nbsp;
				{% if user and blab.user.username != user.username %}
				<a href="/blab/like/{{blab.blab_id}}">&#x1F44D;</a>
				&nbsp;
				<a href="/blab/dislike/{{blab.blab_id}}">&#x1F44E;</a>
				{% endif %}
			</td>
			{% if user and blab.user.username == user.username %}
			<td>
				<a
					style="text-decoration: none"
					href="/blab/delete/{{blab.blab_id}}"
					alt="Delete the blab"
					onclick="return confirm('Are you sure to delete the blab?')"
				>
					<i class="bi bi-trash-fill" style="color: rgb(160, 0, 0);"></i>
				</a>
			</td>
			{% endif %}
			
		</tr>{% endfor %}
	</tbody>
</table>
{% endif %}
