<style>
  .flipx {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /* button effect customized from https://codepen.io/aayusharora6896/pen/MWeammv */
  .btn-ctrl{
    outline: 1;
    border: 1;
    display: block;
    position: relative;
  }
  .btn-ctrl:focus{
      outline:1;
      border:1;
      box-shadow: none;
  }
  .btn-primary{
    background-color: #0d6efd !important;
    box-shadow: 0 2px #4A4A4A !important;
    color: white !important;
  }
  .btn-primary:hover{
    box-shadow: 0 2px #4A4A4A !important; 
    color: black !important;
  }
  .btn-primary:active{
    box-shadow: 0 0 #4A4A4A !important;
    top: 2px;
  }
</style>
<div class="ratio ratio-4x3 rounded", style="max-width:640px;border: 3px black solid;">
  <!-- customized from https://codeconvey.com/add-html5-video-overlay-play-button/ -->
  <button id="#btn" type="button", class="btn btn-rounded shadow-none border-0"
    onmouseover = "this.style.opacity = '1'" onmouseout = "this.style.opacity = '0.4'"
    data-mdb-ripple-duration="0"
   
    
    style="display: block;left: 0;position:absolute;right:0;top: 0;bottom: 0;opacity: 0.4;">
    <i id="#btnicon" class="bi bi-play-circle-fill" style="font-size: 8rem;color:darkgreen;"></i>
  </button>
  <video class="video flipx", id="#video"  
    style="top: 0;left: 0;right: 0;bottom: 0;position:absolute;z-index:-1;" 
    autoplay allowfullscreen>
  </video>
</div>
<!-- <div>
  <canvas class="output_canvas" width="640px" height="360px"></canvas>
</div> -->

<div class="btn-toolbar mb-3 " style="margin-top: 8px">
  <div class="btn-group me-2">
    <button id="#btn-flipx" type="button", class="btn btn-rounded btn-ctrl btn-primary border-dark "
      onclick="document.getElementById('#video').classList.toggle('flipx')"
      data-bs-toggle="tooltip" data-bs-placement="top" title="Flip camera" trigger="hover" delay="0"
      data-mdb-ripple-duration="0">
      <i class="bi bi-phone-flip" ></i>
    </button>
  </div>  
  <!-- customized from https://stackoverflow.com/questions/10004723/html5-input-type-range-show-range-value -->
  <div class="input-group">
    <form style='margin-top: 8px;' data-bs-toggle="tooltip" data-bs-placement="top" 
      title="Sensitivity: prediction probability threshold" trigger="hover" delay="0">
      <input type="range" id="sliderI" value="50" min="15" max="85" oninput="sliderO.value = sliderI.value" style="width: 300px; ">
      <output id="sliderO">50</output><span>%</span>
    </form>
  </div>
</div>



<div style="height: 80px;">
  <p id="#msg" style="font-size:35px;color:rgb(3, 3, 134)"><br/></p>
</div>


<h5 class="card-title">Predicted ASL Script:</h5>
<div class="card overflow-auto" style="max-width: 320px;max-height: 100px;min-height: 60px;display: flex;flex-direction: column-reverse;">
  <div class="card-body">
    
    <p class="card-text" id="#sbox" ></p>
  </div>
</div>
<!-- <div class="overflow-auto rounded" id="#sbox" style="border: 1px solid #000;max-width:320px; max-height: 240px;"></div> -->