{% extends "layout.html" %} 

{% block styles %} 
{% endblock %} 

{% block scripts %}
<script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>
<script defer type="module" src="{{ url_for('static', filename='js/main.js') }}"></script> 
{% endblock %} 

{% block content %} 
<header>
    <div class="container"> 
        <h1>1. Please select an image to upload </h1>
        <form method="POST" enctype="multipart/form-data" action="/image_interpretation">
          <label for="myfile">Select a file:</label>
          <input type="file" id="myfile" name="myfile"><br><br>
          <input type="submit" value="Upload">
        </form>
        <br>
        <!-- <h1>2. Uploaded image </h1>
        <br>
        <p> -- Placeholder showing image -- </p>
        <img src="myfile" alt="Flowers in Chania">
        <br>
        <h1>3. Interpreted result</h1>
         <p> -- Placeholder showing result -- </p>
        <br> -->



    </div>
</header>
<div class="slide">
    <div id="vis1" class="vis"></div>
    <!--div id="vis2" class="vis"></div>
    <div id="vis3" class="vis"></div-->
</div>

{% endblock %}
