<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}

    <!-- Styles -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="{{ url_for('static', filename='./css/reset.css') }}" rel="stylesheet" />
    <style>
      .alert-success {
        background-color: rgb(110, 228, 110);
      }

    </style>
    {% block styles %} {% endblock %}
  </head>
  <body >
    <header>
      <!-- NAV BAR GOES HERE -->
      <!-- from https://getbootstrap.com/docs/5.0/examples/navbars/ -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">&nbsp;&nbsp;ASL Interpretor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample04" aria-controls="navbarsExample04"
            aria-expanded="false" aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/" style="margin-right: 5px;">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/image_interpretation">
                  <i class="bi bi-image" style="margin-right: 3px;"></i>Image Upload
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-camera-reels"  style="margin-right: 3px;"></i>Live Video
                </a>
                <ul class="dropdown-menu bg-dark dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/video">Fully on Server</a></li>
                  <li><a class="dropdown-item" href="/mediapipe">Browser Loaded</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index_blab">
                  <i class="bi bi-people" style="margin-right: 3px;"></i>Community
                </a>
              </li>
            </ul>
          <ul class="nav nav-pills ms-auto">
          <!-- <li class="nav-item">
                        <a href="/" class="nav-link" aria-current="page">Home</a>
                    </li> -->
          {% if user %}
          <li class="nav-item">
            <a href="/user/retrieve/{{user.username}}" class="nav-link">Hi {{user.username}}</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="/user/form/signup" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
        {% endif %}
        </ul>


          </div>
        </div>
      </nav>
    </header>

    <!-- Content -->
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %}
          <div class="alert alert-{{category}}" role="alert">{{ message | safe}}</div>
          {% endfor %} 
        {% endif %} 
      {% endwith %} 

      {% block content %} {% endblock %}
    </main>

    <footer class="footer">
      <!-- FOOTER GOES HERE -->
      <div class="container">
        <span class="text-muted">&copy;
          Group NSXY, 2022 S14A. All Rights Reserved.
        </span>
      </div>
    </footer>

    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
