<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}

    <!-- Styles -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    /> -->
    
    <link href="{{ url_for('static', filename='./css/reset.css') }}" rel="stylesheet" />
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header>
      <!-- NAV BAR GOES HERE -->
      <!-- from https://mdbootstrap.com/docs/standard/navigation/navbar/#subsection-nav -->
      <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">&nbsp;&nbsp;MDB Example</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/image_interpretation">Image Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/video">Live Video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mediapipe">Live Video (browser loaded)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
            </ul>
            </ul>
          </div>
        </div>
      </nav> -->

      <!-- from https://getbootstrap.com/docs/5.0/examples/navbars/ -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">&nbsp;&nbsp;Bootstrap Example</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" 
            aria-expanded="false" aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/image_interpretation">Image Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/video">Live Video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mediapipe">Live Video (browser loaded)</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Content -->
    <main role="main" class="container">
      {% block content %} {% endblock %}
    </main>

    <footer class="footer">
      <!-- FOOTER GOES HERE -->
      <div class="container">
        <span class="text-muted">&copy; 
          Group NSXY, 2022 S14A. All Rights Reserved.
        </span>
      </div>
    </footer>

    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
    ></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
