{% extends "layout.html" %} 

{% block styles %} 
<meta charset="utf-8">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
{% endblock %} 


<!-- <script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script> -->



{% block content %} 
<div class="container">
  
  <div class="ratio ratio-4x3 rounded", style="max-width:640px;border: 3px black solid;">
    <button id="#btn" type="button", class="btn btn-rounded shadow-none border-0"
      data-mdb-ripple-duration="0"
      style="display: block;left: 0;position:absolute;right:0;top: 0;bottom: 0;">
      <i id="#btnicon" class="bi bi-play-circle-fill" style="font-size: 8rem;color:darkgreen;"></i>
    </button>
    <video class="video", id="#video"  
      style="top: 0;left: 0;right: 0;bottom: 0;position:absolute;z-index:-1;" 
      autoplay allowfullscreen>
    </video>
  </div>
  <!-- <div>
    <canvas class="output_canvas" width="640px" height="360px"></canvas>
  </div> -->
  <br/>
  <div>
    
    <p id="#msg" style="font-size:35px;color:rgb(3, 3, 134)"><br/></p>
  </div>
  
</div>

{% endblock %} 

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mp.js') }}"></script>
{% endblock %} 