{% extends "layout.html" %} 

{% block styles %} 
<meta charset="utf-8">


<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>



{% endblock %} 


<!-- <script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script> -->



{% block content %} 
<div class="container">
    <h2>Live Video (mediapipe loaded in browser)</h2>
    <p style="font-size:20px;color:rgb(3, 3, 134); max-width: 720px;white-space: pre-line;">
        The video stream will first be sent to the browser-loaded Mediapipe library to extract landmarks and then the landmarks will be sent to the server to predict English letters.
        
        The slider is used to tune prediction sensitivity for the script. 
        
        A space charactor is interprated if not hands detected.
    </p>
    
{% include "cam_control.html" %} 
</div>

{% endblock %} 

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mp.js') }}"></script>
{% endblock %} 