{% extends "layout.html" %} 

{% block styles %} 
<!-- #container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}
#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
} -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!-- <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
  rel="stylesheet"
/> -->
{% endblock %} 

{% block scripts %}
<!-- <script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
></script> -->
{% endblock %} 

{% block content %}  
<header>
  <div id="container">     
      <h1>Real-time sign language translator</h1>
      <p style="font-size:25px;color:rgb(3, 3, 134)">
        • Sign language to text
      </p>
      <img class="tn-atom__img t-img loaded" data-original="https://static.tildacdn.com/tild3063-3566-4335-b632-323035633937/SLAIT_in_your_hand.jpg" imgfield="tn_img_1598035950175" src="https://thumb.tildacdn.com/tild3063-3566-4335-b632-323035633937/-/resize/952x/-/format/webp/SLAIT_in_your_hand.jpg">
      <!-- <video autoplay="true" id="videoElement">

      </video> -->
    </div>
</header> 
<div class="ratio ratio-4x3 rounded", style="max-width:640px;border: 3px black solid;">
  <button id="#btn" type="button", class="btn btn-rounded shadow-none"
    style="display: block;left: 0;position:absolute;right:0">
    <i id="#btnicon" class="bi bi-play-circle-fill" style="font-size: 8rem;color:darkgreen"></i>
  </button>
  <video class="video", id="#video"  
    style="top: 0;left: 0;right: 0;bottom: 0;position:absolute;z-index:-1;" 
    autoplay allowfullscreen>
  </video>
</div>
<p id="#msg" style="font-size:35px;color:rgb(3, 3, 134)"></p>

<script type="text/javascript" src="{{ url_for('static', filename='js/video.js') }}"/>
<!-- <script type="text/javascript">
  
</script> -->
{% endblock %}

