{% extends "layout.html" %} 

{% block styles %} 
<!-- #container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}
#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
} -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
  rel="stylesheet"
/>
{% endblock %} 

{% block scripts %}
<!-- <script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"
></script>
{% endblock %} 

{% block content %}  
<header>
  <div id="container">     
      <h1>Video interpretation</h1>
      <p style="font-size:25px;color:rgb(3, 3, 134)">
        We will use OpenCV to access client's web camera, perform hand gesture detection, 
        intepret the American Sign Laguage gesture into an English letter, and 
        then serve the output frames to our web browser via the Flask web framework.
      </p>
      <!-- <video autoplay="true" id="videoElement">

      </video> -->
    </div>
</header> 
<div class="ratio ratio-4x3", style="max-width: 640px">
  <video id="#video" autoplay allowfullscreen></video>
</div>

<br/><br/>
<button id="#btn" type="button", class="btn btn-primary btn-rounded shadow-none">
  <i id="#btnicon" class="bi bi-play" style="font-size: 1.8rem;"></i>
</button>
<p id="#msg" style="font-size:35px;color:rgb(3, 3, 134)"></p>

<script type="text/javascript" src="{{ url_for('static', filename='js/video.js') }}"/>
<!-- <script type="text/javascript">
  
</script> -->
<div class="slide">
    <div id="vis1" class="vis"></div>
    <!--div id="vis2" class="vis"></div>
    <div id="vis3" class="vis"></div-->
</div>

{% endblock %}

